* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;
  font-family: 'Mulishi', sans-serif;
}

body {
  font-size: 1.6rem;
}

#app {
  height: 100vh;
  max-width: 43rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  padding: 3rem 2.2rem 4rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

header, footer {
  background-color: #065E7C;
  padding: 1.6rem 2.8rem;
}

main {
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.wallpaper {
  max-width: 100%;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0;
  border-radius: .4rem;
  background-color: #1682a394;
  color: #ffffff;
}

.input-wrapper input::placeholder {
  color: #ffffff;
  font-size: 1.6rem;
}

.avatar, .logo {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;

  object-fit: cover;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.reaction {
  display: flex;
  gap: 1.2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 3.2rem;
}

figure {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  max-width: 38rem;
}

figcaption p {
  font-size: 1.4rem;
  font-weight: 400;
}

footer p {
  text-align: center;
  color: #ffffff;
}

@media (min-width: 1200px) {
  #app {
    display: grid;
    grid-template-rows: repeat(3, 1fr max-content 1fr);
    max-width: 100%;
  }

  .container {
    flex-direction: row;
  }

  main {
    margin: 0 auto;
  }

  .titles {
    max-width: 80rem;
  }

  .others {
    max-width: 38rem;
  }
}